<%-include("../../views/partials/user/header") %> 

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


<style>
    body{
        background-color: black;
    }
    .labellink{
        position: relative;
            opacity: 0;
            background-color: rgba(255, 0, 0, 0);
            width: 200px;
            height: 250px;
        }
        
    .wishlist-btn{
        position: absolute;        
        top: 5px;
        right: 45px;
    }
    ul {
    list-style-type: none;
    }
    .add-to-wishlist-btn{        
        width: 39px;
        height: 39px;
        padding: 0px;
    }
    .to-wishlist-btn{
        width: 39px;
        height: 39px;
        padding: 0px;
    }
    .carousel-item img {
       object-fit: cover;
       height: 92vh; /* Optional: full viewport height */
    }
    a{
        text-decoration: none;
    }
    
        
</style>
<style>
    .add-to-cart {
        color: rgb(129, 129, 189);
    }
    .add-to-cart :hover {
        font-style: 200px !important;
        color: rgb(225, 255, 200) !important;
    }
</style>
    <!-- Hero Section Begin -->
              
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/hero/hero01.svg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/hero/hero2.svg" class="d-block w-100" alt="...">
          </div>
          <!-- <div class="carousel-item">
            <img src="/img/hero/hero2.svg" class="d-block w-100" alt="...">
          </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
    
    <!-- Hero Section End -->
<br><br><br><br>

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                        
                    </ul>
                </div>
            </div> 
            <div class="row product__filter">
                <% product.forEach(element => { %>
                    <div class="col-lg-3 col-md-6 col-sm-6 mix">
                        <div class="product__item">
                            
                                <div class="product__item__pic set-bg" data-setbg="<%=element.productImage[2]%>">
                                    <a href="/user/loadProductsDetailsPage/<%=element._id %>">
                                <div class="labellink">New</div></a>
                                
                                <ul class="wishlist-btn">
                                    <li>
                                      <% if (user) { const isWishlisted = wishlistProductIds && wishlistProductIds.includes(element._id.toString());%>
                                      
                                        <button 
                                          class="btn position-absolute add-to-wishlist-btn"
                                          style="background-color: rgba(255, 255, 255, 0.9);" 
                                          data-userId="<%= user?._id %>" 
                                          data-productId="<%= element?._id %>" 
                                          data-is-wishlisted="<%= isWishlisted ? 'true' : 'false' %>">
                                          <i class="<%= isWishlisted ? 'wishlist2' : 'wishlist' %> bi bi-suit-heart-fill fs-3"></i>
                                        </button>
                                      <% } else { %>
                                        <button 
                                          class="btn position-absolute to-wishlist-btn" 
                                          style="background-color: rgba(255, 255, 255, 0.9);">
                                          <i class="wishlist bi bi-suit-heart-fill fs-3"></i>
                                        </button>
                                      <% } %>
                                    </li>
                                  </ul>
                                  
                            
                                
                            </div>
                        
                            <div class="product__item__text">
                                <h6><%=element.name %></h6>
                                <a href="/user/loadProductsDetailsPage/<%=element._id %>" class="add-cart"><%=element.name %></a>                                
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>₹&nbsp;<%=element.salePrice  %> </h5>
                            </div>

                            <p class="add-to-cart-btn add-to-cart" 
                            data-userid="<%= user?._id %>" 
                            data-productid="<%= element?._id %>" 
                            data-baseprice="<%= element?.salePrice %>"
                            style="cursor: pointer;">
                            <strong>+ Add to Cart</strong>
                            </p>


                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <br>
    <!-- Instagram Section Begin -->
<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-1.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-2.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-3.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-4.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-5.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-6.jpg"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Instagram</h2>
                    <p class="bottom_text">We are content creators, gamers and dreamers who understand how lonely and exhausting following your passion can be!</p>
                    <h3>#Type like a King</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br><br>
<!-- Instagram Section End -->
<script>

    document.querySelectorAll('.to-wishlist-btn').forEach(btn => {
    btn.addEventListener('click', () => {
        Swal.fire({
            icon: 'warning',
            text: 'Please log in to add to wishlist',
            showConfirmButton: true,
            confirmButtonText: 'okay'
        })
    });
});


document.querySelectorAll('.add-to-wishlist-btn').forEach(btn => {
    const icon = btn.querySelector('i');

    if (btn.dataset.isWishlisted === 'true') {
        icon.classList.remove('wishlist');
        icon.classList.add('wishlist2');
    } else {
        icon.classList.remove('wishlist2');
        icon.classList.add('wishlist');
    }

    btn.addEventListener('click', async (e) => {
        e.preventDefault();

        const userId = btn.dataset.userid;
        const productId = btn.dataset.productid;

        const productDetails = { userId, productId };

        try {
            const response = await fetch('/user/wishlist', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(productDetails)
            });

            const data = await response.json();

            if (!response.ok) {
                Swal.fire({
                    icon: 'warning',
                    text: data.error || 'Something went wrong',
                    showConfirmButton: false,
                    timer: 2000
                });
            } else {
                const isCurrentlyWishlisted = btn.dataset.isWishlisted === 'true';

                if (isCurrentlyWishlisted) {
                                        
                    icon.classList.remove('wishlist2');
                    icon.classList.add('wishlist');
                    btn.dataset.isWishlisted = 'false';

                    Swal.fire({
                        icon: 'info',
                        text: 'Removed from wishlist',
                        showConfirmButton: true,
                        cancelButtonText: 'Continue Shopping'
                    });
                } else {
                    
                    icon.classList.remove('wishlist');
                    icon.classList.add('wishlist2');
                    btn.dataset.isWishlisted = 'true';

                    Swal.fire({
                        icon: 'success',
                        text: 'Added to wishlist',
                        showConfirmButton: true,
                        confirmButtonText: 'Go to wishlist',
                        showCancelButton: true,
                        cancelButtonText: 'Continue Shopping'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/user/wishlist';
                        }
                    });
                }
            }
        } catch (error) {
            console.error('Error toggling wishlist:', error);
            Swal.fire({
                icon: 'error',
                text: 'An error occurred',
                showConfirmButton: false,
                timer: 2000
            });
        }
    });
});

  
    document.querySelectorAll('.add-to-cart-btn').forEach(button => {
    button.addEventListener('click', async (e) => {
        e.preventDefault();

        const userId = button.dataset.userid;
        const productId = button.dataset.productid;
        const basePrice = button.dataset.baseprice;
        const quantity = 1;

        if (!userId || userId === "null" || userId.trim() === "") {
            Swal.fire({
                icon: 'warning',
                text: 'Please log in to add items to your cart.',
                showConfirmButton: false,
                timer: 2000
            });
            return;
        }

        const productDetails = {
            userId,
            productId,
            quantity,
            basePrice,
        };

        try {
            const response = await fetch('/user/cart', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(productDetails)
            });

            const data = await response.json();
            if (!response.ok) {
                Swal.fire({
                    icon: 'warning',
                    text: data.error,
                    showConfirmButton: false,
                    timer: 2000
                });
            } else {
                Swal.fire({
                    icon: 'success',
                    text: 'Added to cart successfully',
                    showConfirmButton: true,
                    confirmButtonText: 'Go to Cart',
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/user/cart';
                    }
                });
            }
        } catch (error) {
            Swal.fire({
                icon: 'error',
                text: 'An error occurred',
                showConfirmButton: false,
                timer: 2000
            });
        }
    });
});


   </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    <%-include("../../views/partials/user/footer") %> 
